[submodule "Cygnus/Libraries/AFNetworking"]
	path = Cygnus/Libraries/AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "Cygnus/Libraries/SSToolkit"]
	path = Cygnus/Libraries/SSToolkit
	url = git://github.com/soffes/sstoolkit.git
[submodule "Cygnus/Libraries/ARKit"]
	path = Cygnus/Libraries/ARKit
	url = git://github.com/adamrothman/ARKit.git
[submodule "Cygnus/Libraries/AwesomeMenu"]
	path = Cygnus/Libraries/AwesomeMenu
	url = git://github.com/adamrothman/AwesomeMenu.git
[submodule "Cygnus/Libraries/QuickDialog"]
	path = Cygnus/Libraries/QuickDialog
	url = git://github.com/escoz/QuickDialog.git
[submodule "Cygnus/Libraries/Mixpanel"]
	path = Cygnus/Libraries/Mixpanel
	url = git://github.com/mixpanel/mixpanel-iphone.git
[submodule "Cygnus/Libraries/KNSemiModalViewController"]
	path = Cygnus/Libraries/KNSemiModalViewController
	url = git://github.com/kentnguyen/KNSemiModalViewController.git
